.blocnote-container {
  max-width: 400px;
  margin: auto;
}

.blocnote-input-row {
  display: flex;
  gap: 8px;
}

.blocnote-input {
  flex: 1;
}



.blocnote-list {
  padding: 0;
  list-style: none;
}

.blocnote-list-item {
  margin: 8px 0;
  display: flex;
  gap: 8px;
}

.blocnote-note-input {
  flex: 1;
}
